<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Custom CSS -->

    <link rel="stylesheet" href="styles.css" />
    <title>Web Develop 1</title>
</head>

<body>

    <div class="header__bar">Free Shipping on Orders Over $50</div>
    <nav class="section__container nav__container">
        <a href="#" class="nav__logo">Mon'sa</a>
        <div class="nav__links">
            <a href="/">HOME</a>
            <a href="products">PRODUCTS</a>
            <a href="about">ABOUT</a>
            <a href="contact">CONTACT</a>
            <a href="admin">ADMIN</a>
            <a href="">USERS : <span id="connected-users-count">0</span></a>



        </div>
        <div class="nav__icons">
            <% if (loggedIn) { %>
                <a class="nav-link" href="logout"><i class="fa fa-sign-out-alt"></i></a>
                <a class="nav-link" href="profile"><i class="fas fa-user"></i> profile</a>
                <a class="nav-link" href="cart"><i class="fas fa-shopping-bag"></i> cart</a>
                <% } else { %>
                    <a class="nav-link" href="login"><i class="fas fa-sign-in-alt"></i> Login</a>
                    <a class="nav-link" href="register"><i class="fas fa-user-plus"></i> Register</a>
                    <% } %>
        </div>
    </nav>

    <header>
        <div class="section__container header__container">
            <div class="header__content">
                <p>EXTRA 55% OFF IN SPRING SALE</p>
                <h1>Discover & Shop<br />The Trend Ss19</h1>
                <button class="btn">SHOP NOW</button>
            </div>
            <div class="header__image">
                <img src="images/header.png" alt="header" />
            </div>
        </div>
    </header>

    <section class="section__container sale__container">
        <h2 class="section__title">On Sale</h2>
        <div class="sale__grid">
            <div class="sale__card">
                <img src="images/sale-1.jpg" alt="sale" />
                <div class="sale__content">
                    <p class="sale__subtitle">MAN OUTERWEAR</p>
                    <h4 class="sale__title">sale <span>40%</span> off</h4>
                    <p class="sale__subtitle">- DON'T MISS -</p>
                    <button class="btn sale__btn">SHOP NOW</button>
                </div>
            </div>
            <div class="sale__card">
                <img src="images/sale-2.jpg" alt="sale" />
                <div class="sale__content">
                    <p class="sale__subtitle">WOMAN T-SHIRT</p>
                    <h4 class="sale__title">sale <span>25%</span> off</h4>
                    <p class="sale__subtitle">- DON'T MISS -</p>
                    <button class="btn sale__btn">SHOP NOW</button>
                </div>
            </div>
            <div class="sale__card">
                <img src="images/sale-3.jpg" alt="sale" />
                <div class="sale__content">
                    <p class="sale__subtitle">JACKETS</p>
                    <h4 class="sale__title">sale <span>20%</span> off</h4>
                    <p class="sale__subtitle">- DON'T MISS -</p>
                    <button class="btn sale__btn">SHOP NOW</button>
                </div>
            </div>
        </div>
    </section>

    <section class="section__container musthave__container">
        <h2 class="section__title">For Women's</h2>
        <div class="musthave__grid">
         <% for (let i=0; i < womensClothing.length; i++) { %>

            <div class="musthave__card">
                <img src="<%= womensClothing[i].imageUrl %>" alt="must have" />
                <h4><%= womensClothing[i].title  %> </h4>
                <p><del>$45.00</del>  <%=  womensClothing[i].price  %>.00</p>
            </div>
        <% } %>
        </div>
    </section>

    <section class="section__container musthave__container">
        <h2 class="section__title">For Men's</h2>
        <div class="musthave__grid">
            <% for (let i=0; i < mensClothing.length; i++) { %>
                <div class="musthave__card">
                    <img src="<%= mensClothing[i].imageUrl %>" alt="must have" />
                    <h4><%= mensClothing[i].title  %></h4>
                    <p><del>$45.00</del> $<%= mensClothing[i].price  %>.00  </p>
                </div>
                <% } %>
        </div>
    </section>

    <section class="news">
        <div class="section__container news__container">
            <h2 class="section__title">Latest News</h2>
            <div class="news__grid">
                <div class="news__card">
                    <img src="images/news-1.jpg" alt="news" />
                    <div class="news__details">
                        <p>
                            FASHION <i class="ri-checkbox-blank-circle-fill"></i>
                            <span>JAMES SIMSON</span>
                            <i class="ri-checkbox-blank-circle-fill"></i> FEB 2, 2019
                        </p>
                        <h4>Seasonal Trends</h4>
                        <hr />
                        <p>
                            Discuss the latest fashion trends for the current season and
                            offer tips and ideas on how to incorporate these trends into
                            your wardrobe.
                        </p>
                        <a href="#"><i class="ri-arrow-right-line"></i></a>
                    </div>
                </div>
                <div class="news__card">
                    <img src="images/news-2.jpg" alt="news" />
                    <div class="news__details">
                        <p>
                            TRENDS <i class="ri-checkbox-blank-circle-fill"></i>
                            <span>JAMES SIMSON</span>
                            <i class="ri-checkbox-blank-circle-fill"></i> APR 15, 2019
                        </p>
                        <h4>Fashion Tips and Advice</h4>
                        <hr />
                        <p>
                            Provide your readers with practical tips and advice on how to
                            dress for different occasions, body types, or style preferences.
                        </p>
                        <a href="#"><i class="ri-arrow-right-line"></i></a>
                    </div>
                </div>
                <div class="news__card">
                    <img src="images/news-3.jpg" alt="news" />
                    <div class="news__details">
                        <p>
                            STYLE <i class="ri-checkbox-blank-circle-fill"></i>
                            <span>JAMES SIMSON</span>
                            <i class="ri-checkbox-blank-circle-fill"></i> JUL 22, 2019
                        </p>
                        <h4>Sustainable Fashion</h4>
                        <hr />
                        <p>
                            Cover the growing trend of eco-conscious fashion and explore the
                            various ways to be sustainable in your fashion choices.
                        </p>
                        <a href="#"><i class="ri-arrow-right-line"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <hr />

    <footer class="section__container footer__container">
        <div class="footer__col">
            <h4 class="footer__heading">CONTACT INFO</h4>
            <p>
                <i class="ri-map-pin-2-fill"></i> 123, London Bridge Street, London
            </p>
            <p><i class="ri-mail-fill"></i> support@monsa.com</p>
            <p><i class="ri-phone-fill"></i> (+012) 3456 789</p>
        </div>
        <div class="footer__col">
            <h4 class="footer__heading">COMPANY</h4>
            <p>Home</p>
            <p>About Us</p>
            <p>Work With Us</p>
            <p>Our Blog</p>
            <p>Terms & Conditions</p>
        </div>
        <div class="footer__col">
            <h4 class="footer__heading">USEFUL LINK</h4>
            <p>Help</p>
            <p>Track My Order</p>
            <p>Men</p>
            <p>Women</p>
            <p>Shoes</p>
        </div>
        <div class="footer__col">
            <h4 class="footer__heading">INSTAGRAM</h4>
            <div class="instagram__grid">
                <img src="images/instagram-1.jpg" alt="instagram" />
                <img src="images/instagram-2.jpg" alt="instagram" />
                <img src="images/instagram-3.jpg" alt="instagram" />
                <img src="images/instagram-4.jpg" alt="instagram" />
                <img src="images/instagram-5.jpg" alt="instagram" />
                <img src="images/instagram-6.jpg" alt="instagram" />
            </div>
        </div>
    </footer>

    <hr />

    <div class="section__container footer__bar">
        <div class="copyright">
            Copyright © 2023 Web Design Mastery. All rights reserved.
        </div>
        <div class="footer__form">
            <form>
                <input type="text" placeholder="ENTER YOUR EMAIL" />
                <button class="btn" type="submit">SUBSCRIBE</button>
            </form>
        </div>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        socket.on("connectedUsersCount", (count) => {
            const connectedUsersCount = document.getElementById("connected-users-count");
            connectedUsersCount.textContent = count;
        });

    </script>


</body>

</html>