<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Custom CSS -->

    <link rel="stylesheet" href="styles.css" />
    <title>Web Develop 1</title>
</head>

<body>
    <div class="header__bar">Free Shipping on Orders Over $50</div>
    <nav class="section__container nav__container">
        <a href="#" class="nav__logo">Mon'sa</a>
        <div class="nav__links">
            <a href="/">HOME</a>
            <a href="products">PRODUCTS</a>
            <a href="about">ABOUT</a>
            <a href="contact">CONTACT</a>
            <a href="admin">ADMIN</a>
            <a href="">USERS : <span id="connected-users-count">0</span></a>



        </div>
        <div class="nav__icons">
            <% if (loggedIn) { %>
                <a class="nav-link" href="logout"><i class="fa fa-sign-out-alt"></i></a>
                <a class="nav-link" href="profile"><i class="fas fa-user"></i> profile</a>
                <a class="nav-link" href="cart"><i class="fas fa-shopping-bag"></i> cart</a>
                <% } else { %>
                    <a class="nav-link" href="login"><i class="fas fa-sign-in-alt"></i> Login</a>
                    <a class="nav-link" href="register"><i class="fas fa-user-plus"></i> Register</a>
                    <% } %>
        </div>
    </nav>




    <section class="section" id="products">
        <div style="max-width:1650px;" class="container">
            <div class="row">
                <div id="sidebar">
                    <h3>CATEGORIES</h3>
                    <div class="checklist categories">
                        <ul>
                            <li><a class="Filter" data-filter="category" data-value="T-shirts"><span></span>T-shirts (
                                    <%= TshirtCount %>)
                                </a></li>
                            <li><a class="Filter" data-filter="category" data-value="jeans"><span></span>Jeans
                                    (<%= jeansCount %>)</a></li>
                            <li><a class="Filter" data-filter="category" data-value="Jackets"><span></span>Jackets (<%=
                                        JacketsCount %>)</a></li>
                            <li><a class="Filter" data-filter="category" data-value="Shoes"><span></span>Shoes
                                    (<%= ShoesCount %>)</a></li>
                        </ul>
                    </div>

                    <h3>COLORS</h3>
                    <div class="checklist colors">
                        <ul id="color-list">
                            <li><a class="Filter" data-filter="color" data-value="White"><span
                                        style="background:#e0e0e0"></span>White (<%= WhiteCount %>)</a></li>
                            <li><a class="Filter" data-filter="color" data-value="Black"><span
                                        style="background:#060606"></span>Black (<%= BlackCount %>)</a></li>
                            <li><a class="Filter" data-filter="color" data-value="Blue"><span
                                        style="background:#7896e2"></span>Blue (<%= BlueCount %>)</a>
                            </li>
                            <li><a class="Filter" data-filter="color" data-value="Yellow"><span
                                        style="background:#d2d816"></span>Yellow (<%= YellowCount%>)</a></li>
                            <li><a class="Filter" data-filter="color" data-value="Green"><span
                                        style="background:#27d98f"></span>Green (<%= GreenCount %>)</a></li>
                            <li><a class="Filter" data-filter="color" data-value="Pink"><span
                                        style="background:#ba2b61"></span>Pink (<%= PinkCount %>)</a>
                            </li>
                        </ul>
                    </div>

                    <h3>SIZES</h3>
                    <div class="checklist sizes">
                        <ul id="size-list">
                            <li><a class="Filter" data-filter="size" data-value="S"><span></span>S (<%= SCount %>)</a>
                            </li>
                            <li><a class="Filter" data-filter="size" data-value="M"><span></span>M (<%= MCount %>)</a>
                            </li>
                            <li><a class="Filter" data-filter="size" data-value="L"><span></span>L (<%= LCount %>)</a>
                            </li>
                        </ul>
                    </div>

                    <h3>GENDER</h3>
                    <div class="checklist gender">
                        <ul id="gender-list">
                            <li><a class="Filter" data-filter="gender" data-value="Womens"><span></span>Womens (<%=
                                        WomensCount %>)</a></li>
                            <li><a class="Filter" data-filter="gender" data-value="Mens"><span></span>Mens (<%=
                                        MensCount %>)</a></li>
                        </ul>
                    </div>

                    <br>
                    <div>
                        <button type="button" id="clearFiltersBtn" class="btn btn-outline-dark">clear filters</button>

                    </div>

                </div>

                <div class="col" id="product-container">
                    <!-- Product cards -->
                    <div class="row">
                        <!-- Search form -->
                        <div class="col-md-12">
                            <form class="search-form">
                                <input type="text" id="searchInput" placeholder="Search products..."> &nbsp;&nbsp;
                                <label>Filter by :</label>

                                <select class="filter-input">
                                    <option></option>
                                    <option>price low to high</option>
                                    <option>price high to low</option>
                                </select>
                                <br><br>
                            </form>
                        </div>

                        <% for (let i=0; i < products.length; i++) { %>
                            <!-- Example product card -->
                            <div class="col-md-4 mb-4">
                                <div class="card mb-2 product-card" data-category="<%= products[i].category %>"
                                    data-color="<%= products[i].color %>" data-gender="<%= products[i].gender %>"
                                    data-size="<%= products[i].size %>">
                                    <img style="height: 400px;" src="<%= products[i].imageUrl %>" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= products[i].title %>
                                        </h5>
                                        <p class="card-text">
                                            <%= products[i].description %>
                                        </p>
                                        <p class="card-text"><strong>size : </strong>
                                            <%= products[i].size %>
                                        </p>
                                        <p class="card-text"><strong>color : </strong>
                                            <%= products[i].color %>
                                        </p>
                                        <p class="card-text"><strong>gender : </strong>
                                            <%= products[i].gender %>
                                        </p>

                                        <div class="mb-2">
                                            <span class="font-bold"><strong>$<%= products[i].price %></strong></span>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-md-6 mb-2">
                                                    <span class="align-middle glyphicon glyphicon-star"
                                                        aria-hidden="true"></span> <span
                                                        class="align-middle glyphicon glyphicon-star"
                                                        aria-hidden="true"></span> <span
                                                        class="align-middle glyphicon glyphicon-star"
                                                        aria-hidden="true"></span> <span
                                                        class="align-middle glyphicon glyphicon-star"
                                                        aria-hidden="true"></span> <span
                                                        class="align-middle glyphicon glyphicon-star-empty"
                                                        aria-hidden="true"></span>
                                                </div>
                                                <div class="col-md-6">
                                                    <button type="button"
                                                        class="btn btn-primary btn-sm btn-block addToCart"
                                                        data-product-id="<%= products[i]._id %>">Add To Cart </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <% } %>
                                <!-- Add more product cards as needed -->
                    </div>
                </div>
            </div>
        </div>


    </section>



    <hr />

    <footer class="section__container footer__container">
        <div class="footer__col">
            <h4 class="footer__heading">CONTACT INFO</h4>
            <p>
                <i class="ri-map-pin-2-fill"></i> 123, London Bridge Street, London
            </p>
            <p><i class="ri-mail-fill"></i> support@monsa.com</p>
            <p><i class="ri-phone-fill"></i> (+012) 3456 789</p>
        </div>
        <div class="footer__col">
            <h4 class="footer__heading">COMPANY</h4>
            <p>Home</p>
            <p>About Us</p>
            <p>Work With Us</p>
            <p>Our Blog</p>
            <p>Terms & Conditions</p>
        </div>
        <div class="footer__col">
            <h4 class="footer__heading">USEFUL LINK</h4>
            <p>Help</p>
            <p>Track My Order</p>
            <p>Men</p>
            <p>Women</p>
            <p>Shoes</p>
        </div>
        <div class="footer__col">
            <h4 class="footer__heading">INSTAGRAM</h4>
            <div class="instagram__grid">
                <img src="images/instagram-1.jpg" alt="instagram" />
                <img src="images/instagram-2.jpg" alt="instagram" />
                <img src="images/instagram-3.jpg" alt="instagram" />
                <img src="images/instagram-4.jpg" alt="instagram" />
                <img src="images/instagram-5.jpg" alt="instagram" />
                <img src="images/instagram-6.jpg" alt="instagram" />
            </div>
        </div>
    </footer>

    <hr />

    <div class="section__container footer__bar">
        <div class="copyright">
            Copyright © 2023 Web Design Mastery. All rights reserved.
        </div>
        <div class="footer__form">
            <form>
                <input type="text" placeholder="ENTER YOUR EMAIL" />
                <button class="btn" type="submit">SUBSCRIBE</button>
            </form>
        </div>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        socket.on("connectedUsersCount", (count) => {
            const connectedUsersCount = document.getElementById("connected-users-count");
            connectedUsersCount.textContent = count;
        });

    </script>
    
</body>


</html>

<style>
    #products {
        overflow: hidden;
    }

    #sidebar {
        float: left;
        background: #fff;
        width: 290px;
        padding: 30px 0 0 100px;
        height: auto;
        border-right: 1px solid #eee;
    }

    #sidebar h3 {
        color: #262626;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        clear: both;
        margin-top: 0;
    }

    .checklist ul li {
        font-size: 14px;
        font-weight: 400;
        list-style: none;
        padding: 7px 0 7px 23px;
    }

    .checklist li span {
        float: left;
        width: 11px;
        height: 11px;
        margin-left: -23px;
        margin-top: 4px;
        border: 1px solid #d1d3d7;
        position: relative;
    }

    .container {
        max-width: 1700px;
        margin: 0 auto;
        padding: 0 15px;
    }

    #product-container {
        float: left;
        width: calc(100% - 290px);
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .search-form {
        margin-bottom: -15px;
    }

    .search-form input[type="text"] {
        height: 30px;
        padding: 0 10px;
        border-radius: 3px;
        border: 1px solid #ccc;
    }

    .search-form .filter-input {
        height: 30px;
        padding: 0 10px;
        border-radius: 3px;
        border: 1px solid #ccc;
    }

    .card {
        margin-bottom: 30px;
    }

    .card-img-top {
        height: 400px;
        object-fit: cover;
    }

    .card-body {
        padding: 15px;
    }

    .card-title {
        margin-top: 0;
        font-weight: 700;
    }

    .card-text {
        margin-bottom: 10px;
    }

    .card-footer {
        background-color: #f5f5f5;
        padding: 10px;
    }

    .addToCart {
        margin-top: 5px;
    }

    #clearFiltersBtn {
        margin-top: 10px;
    }
</style>